<html>
    <head>
        <meta charset="utf-8">
        <title>{{hbsPageName}} page</title>
    </head>
    <body>
    
        <h1>{{hbsPageName}} page</h1>   
        
    {{> foot}}     
    </body>
</html> 